* {
    margin: 0;
    border: 0;
}

body {
    display: flex;
    align-content: center;
    background-color: #222;
}

canvas {
    margin: 10px auto;
    background-image: url("../img/back.gif");
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #000;
}